<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053643874849-c5aqh8kr538mp66dlmcobdfrb49ijpkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053643874849-c5aqh8kr538mp66dlmcobdfrb49ijpkv</string>
	<key>API_KEY</key>
	<string>AIzaSyBUgcuvgfPnA4yX8fI7QIcp5OFI3cosYmI</string>
	<key>GCM_SENDER_ID</key>
	<string>1053643874849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.firebasePushNotification</string>
	<key>PROJECT_ID</key>
	<string>pushnotificationdummy-cff9e</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificationdummy-cff9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053643874849:ios:5bca168b2ad1665c1ef960</string>
</dict>
</plist>